In [1]:
#pandas.index.append

In [2]:
import pandas as pd

In [22]:
li = [[1,3,4,3],[2,4,6,3],[3,8,6,4]]

In [4]:
df1 = pd.DataFrame(li)

In [9]:
l = [4,2,2,5]
li = pd.Index(l)
type(li)

pandas.core.indexes.numeric.Int64Index

In [13]:
df1 = df1.index.append(li)

In [14]:
df1

Int64Index([0, 1, 2, 4, 2, 2, 5], dtype='int64')

In [12]:
df1.index

RangeIndex(start=0, stop=3, step=1)

In [15]:
df1

Int64Index([0, 1, 2, 4, 2, 2, 5], dtype='int64')

In [19]:
type(df1)

pandas.core.indexes.numeric.Int64Index

In [20]:
df2 = pd.DataFrame(li)

In [21]:
df2

   0
0  4
1  2
2  2
3  5

In [23]:
li

[[1, 3, 4, 3], [2, 4, 6, 3], [3, 8, 6, 4]]

In [24]:
df2 = pd.DataFrame(li)

In [25]:
df2

   0  1  2  3
0  1  3  4  3
1  2  4  6  3
2  3  8  6  4

In [29]:
df2.index

RangeIndex(start=0, stop=3, step=1)

In [32]:
data = {'state': ['Ohio', 'Ohio', 'Ohio', 'Nevada', 'Nevada', 'Nevada'],
'year': [2000, 2001, 2002, 2001, 2002, 2003],
'pop': [1.5, 1.7, 3.6, 2.4, 2.9, 3.2]}
frame = pd.DataFrame(data, index = ['s1','s2','s3','s4','s5','s6'])

In [33]:
frame

     state  year  pop
s1    Ohio  2000  1.5
s2    Ohio  2001  1.7
s3    Ohio  2002  3.6
s4  Nevada  2001  2.4
s5  Nevada  2002  2.9
s6  Nevada  2003  3.2

In [34]:
f1 = frame.index

In [35]:
df2

   0  1  2  3
0  1  3  4  3
1  2  4  6  3
2  3  8  6  4

In [36]:
d2 = df2.index

In [37]:
f1

Index(['s1', 's2', 's3', 's4', 's5', 's6'], dtype='object')

In [38]:
d2

RangeIndex(start=0, stop=3, step=1)

In [40]:
indexing = f1.append(d2)

In [43]:
indexing.shape

(9,)

In [42]:
data = {'state': ['Ohio', 'Ohio', 'Ohio', 'Nevada', 'Nevada', 'Nevada'],
'year': [2000, 2001, 2002, 2001, 2002, 2003],
'pop': [1.5, 1.7, 3.6, 2.4, 2.9, 3.2]}
frame = pd.DataFrame(data, index =indexing)

ValueError: Shape of passed values is (6, 3), indices imply (9, 3)

In [47]:
f1

Index(['s1', 's2', 's3', 's4', 's5', 's6'], dtype='object')

In [48]:
d2.difference(f1)

Int64Index([0, 1, 2], dtype='int64')

In [49]:
d3 = pd.Index(range(4))

In [50]:
d2.difference(d3)

Int64Index([], dtype='int64')