In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
df = pd.read_csv('./data/abc.csv',encoding='cp1252')
df.head(10)

   A    B  C
0  1  2.0  3
1  4  5.0  6
2  6  8.0  8
3  5  NaN  9

In [4]:
df = pd.read_excel('./data/abc.xlsx')
df.head(10)

   A    B  C
0  1  2.0  3
1  4  5.0  6
2  6  8.0  8
3  5  NaN  9

In [12]:
df = pd.read_excel('./data/abc.xlsx', sheet_name=0)
df.keys()

Index(['A', 'B', 'C'], dtype='object')

In [10]:
df = pd.read_excel('sales.xlsx', sheet_name='Sheet1')

In [11]:
df.head()

,account number,name,sku,quantity,unit price,ext price,date
0,412290,Jerde-Hilpert,S2-77896,43,76.66,3296.38,2018-03-04 23:10:28
1,383080,Will LLC,S1-93683,28,90.86,2544.08,2018-03-05 05:11:49
2,729833,Koepp Ltd,S1-30248,13,44.84,582.92,2018-03-05 17:33:52
3,424914,White-Trantow,S2-82423,38,50.93,1935.34,2018-03-05 21:40:10
4,672390,Kuhn-Gusikowski,S1-50961,34,48.20,1638.80,2018-03-06 11:59:00

In [32]:
df = pd.read_html('https://www.w3schools.com/html/html_tables.asp')
df

[                        Company           Contact  Country
 0           Alfreds Futterkiste      Maria Anders  Germany
 1    Centro comercial Moctezuma   Francisco Chang   Mexico
 2                  Ernst Handel     Roland Mendel  Austria
 3                Island Trading     Helen Bennett       UK
 4  Laughing Bacchus Winecellars   Yoshi Tannamuri   Canada
 5  Magazzini Alimentari Riuniti  Giovanni Rovelli    Italy,
           Tag                                        Description
 0     <table>                                    Defines a table
 1        <th>                   Defines a header cell in a table
 2        <tr>                           Defines a row in a table
 3        <td>                          Defines a cell in a table
 4   <caption>                            Defines a table caption
 5  <colgroup>  Specifies a group of one or more columns in a ...
 6       <col>  Specifies column properties for each column wi...
 7     <thead>               Groups the header content in a table
 8     <tbody>                 Groups the body content in a table
 9     <tfoot>               Groups the footer content in a table]

In [14]:
pd.read_html('https://www.w3schools.com/html/html_tables.asp')[0]

                        Company           Contact  Country
0           Alfreds Futterkiste      Maria Anders  Germany
1    Centro comercial Moctezuma   Francisco Chang   Mexico
2                  Ernst Handel     Roland Mendel  Austria
3                Island Trading     Helen Bennett       UK
4  Laughing Bacchus Winecellars   Yoshi Tannamuri   Canada
5  Magazzini Alimentari Riuniti  Giovanni Rovelli    Italy

In [15]:
df = pd.read_html('https://www.w3schools.com/html/html_tables.asp')
df[0]

                        Company           Contact  Country
0           Alfreds Futterkiste      Maria Anders  Germany
1    Centro comercial Moctezuma   Francisco Chang   Mexico
2                  Ernst Handel     Roland Mendel  Austria
3                Island Trading     Helen Bennett       UK
4  Laughing Bacchus Winecellars   Yoshi Tannamuri   Canada
5  Magazzini Alimentari Riuniti  Giovanni Rovelli    Italy

In [16]:
df[1]

          Tag                                        Description
0     <table>                                    Defines a table
1        <th>                   Defines a header cell in a table
2        <tr>                           Defines a row in a table
3        <td>                          Defines a cell in a table
4   <caption>                            Defines a table caption
5  <colgroup>  Specifies a group of one or more columns in a ...
6       <col>  Specifies column properties for each column wi...
7     <thead>               Groups the header content in a table
8     <tbody>                 Groups the body content in a table
9     <tfoot>               Groups the footer content in a table

In [18]:
df = pd.read_json("https://api.github.com/users/hadley/orgs")
df.head()

,login,id,node_id,url,repos_url,events_url,hooks_url,issues_url,members_url,public_members_url,avatar_url,description
0,ggobi,423638,MDEyOk9yZ2FuaXphdGlvbjQyMzYzOA==,https://api.github.com/orgs/ggobi,https://api.github.com/orgs/ggobi/repos,https://api.github.com/orgs/ggobi/events,https://api.github.com/orgs/ggobi/hooks,https://api.github.com/orgs/ggobi/issues,https://api.github.com/orgs/ggobi/members{/mem...,https://api.github.com/orgs/ggobi/public_membe...,https://avatars1.githubusercontent.com/u/42363...,
1,rstudio,513560,MDEyOk9yZ2FuaXphdGlvbjUxMzU2MA==,https://api.github.com/orgs/rstudio,https://api.github.com/orgs/rstudio/repos,https://api.github.com/orgs/rstudio/events,https://api.github.com/orgs/rstudio/hooks,https://api.github.com/orgs/rstudio/issues,https://api.github.com/orgs/rstudio/members{/m...,https://api.github.com/orgs/rstudio/public_mem...,https://avatars1.githubusercontent.com/u/51356...,None
2,rstats,722735,MDEyOk9yZ2FuaXphdGlvbjcyMjczNQ==,https://api.github.com/orgs/rstats,https://api.github.com/orgs/rstats/repos,https://api.github.com/orgs/rstats/events,https://api.github.com/orgs/rstats/hooks,https://api.github.com/orgs/rstats/issues,https://api.github.com/orgs/rstats/members{/me...,https://api.github.com/orgs/rstats/public_memb...,https://avatars1.githubusercontent.com/u/72273...,None
3,ropensci,1200269,MDEyOk9yZ2FuaXphdGlvbjEyMDAyNjk=,https://api.github.com/orgs/ropensci,https://api.github.com/orgs/ropensci/repos,https://api.github.com/orgs/ropensci/events,https://api.github.com/orgs/ropensci/hooks,https://api.github.com/orgs/ropensci/issues,https://api.github.com/orgs/ropensci/members{/...,https://api.github.com/orgs/ropensci/public_me...,https://avatars3.githubusercontent.com/u/12002...,
4,rjournal,3330561,MDEyOk9yZ2FuaXphdGlvbjMzMzA1NjE=,https://api.github.com/orgs/rjournal,https://api.github.com/orgs/rjournal/repos,https://api.github.com/orgs/rjournal/events,https://api.github.com/orgs/rjournal/hooks,https://api.github.com/orgs/rjournal/issues,https://api.github.com/orgs/rjournal/members{/...,https://api.github.com/orgs/rjournal/public_me...,https://avatars2.githubusercontent.com/u/33305...,None

In [19]:
obj = pd.Series([4, 7, -5, 3])
obj

0    4
1    7
2   -5
3    3
dtype: int64

In [20]:
obj = pd.Series([4, 7, -5, 3], index=['a','b','c','d'])
obj

a    4
b    7
c   -5
d    3
dtype: int64

In [22]:
obj2 = pd.Series([3,2,1,3], index=['a','d','e','f'])

In [23]:
obj + obj2

a    7.0
b    NaN
c    NaN
d    5.0
e    NaN
f    NaN
dtype: float64

In [24]:
date = pd.date_range('05/06/2020','05/11/2020')

In [26]:
date

DatetimeIndex(['2020-05-06', '2020-05-07', '2020-05-08', '2020-05-09',
               '2020-05-10', '2020-05-11'],
              dtype='datetime64[ns]', freq='D')

In [27]:
date[-1]

Timestamp('2020-05-11 00:00:00', freq='D')

In [28]:
data = pd.date_range('05/06/2020', periods=7)
data

DatetimeIndex(['2020-05-06', '2020-05-07', '2020-05-08', '2020-05-09',
               '2020-05-10', '2020-05-11', '2020-05-12'],
              dtype='datetime64[ns]', freq='D')

In [29]:
date = pd.date_range('05/06/2020','09/11/2020',freq='M')

In [30]:
date

DatetimeIndex(['2020-05-31', '2020-06-30', '2020-07-31', '2020-08-31'], dtype='datetime64[ns]', freq='M')

In [35]:
date = pd.date_range('05/06/2020', periods=6, freq='12H')

In [36]:
date

DatetimeIndex(['2020-05-06 00:00:00', '2020-05-06 12:00:00',
               '2020-05-07 00:00:00', '2020-05-07 12:00:00',
               '2020-05-08 00:00:00', '2020-05-08 12:00:00'],
              dtype='datetime64[ns]', freq='12H')

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [27]:
df = pd.read_html('https://www.w3schools.com/html/html_tables.asp')

In [28]:
df

[                        Company           Contact  Country
 0           Alfreds Futterkiste      Maria Anders  Germany
 1    Centro comercial Moctezuma   Francisco Chang   Mexico
 2                  Ernst Handel     Roland Mendel  Austria
 3                Island Trading     Helen Bennett       UK
 4  Laughing Bacchus Winecellars   Yoshi Tannamuri   Canada
 5  Magazzini Alimentari Riuniti  Giovanni Rovelli    Italy,
           Tag                                        Description
 0     <table>                                    Defines a table
 1        <th>                   Defines a header cell in a table
 2        <tr>                           Defines a row in a table
 3        <td>                          Defines a cell in a table
 4   <caption>                            Defines a table caption
 5  <colgroup>  Specifies a group of one or more columns in a ...
 6       <col>  Specifies column properties for each column wi...
 7     <thead>               Groups the header content in a table
 8     <tbody>                 Groups the body content in a table
 9     <tfoot>               Groups the footer content in a table]

In [29]:
df[1]

          Tag                                        Description
0     <table>                                    Defines a table
1        <th>                   Defines a header cell in a table
2        <tr>                           Defines a row in a table
3        <td>                          Defines a cell in a table
4   <caption>                            Defines a table caption
5  <colgroup>  Specifies a group of one or more columns in a ...
6       <col>  Specifies column properties for each column wi...
7     <thead>               Groups the header content in a table
8     <tbody>                 Groups the body content in a table
9     <tfoot>               Groups the footer content in a table

In [6]:
df = pd.read_html('https://www.w3schools.com/html/html_tables.asp')[0]

In [7]:
df

                        Company           Contact  Country
0           Alfreds Futterkiste      Maria Anders  Germany
1    Centro comercial Moctezuma   Francisco Chang   Mexico
2                  Ernst Handel     Roland Mendel  Austria
3                Island Trading     Helen Bennett       UK
4  Laughing Bacchus Winecellars   Yoshi Tannamuri   Canada
5  Magazzini Alimentari Riuniti  Giovanni Rovelli    Italy

In [8]:
df = pd.read_json("https://api.github.com/users/hadley/repos")
df.head()

,id,node_id,name,full_name,private,owner,html_url,description,fork,url,...,forks_count,mirror_url,archived,disabled,open_issues_count,license,forks,open_issues,watchers,default_branch
0,40423928,MDEwOlJlcG9zaXRvcnk0MDQyMzkyOA==,15-state-of-the-union,hadley/15-state-of-the-union,False,"{'login': 'hadley', 'id': 4196, 'node_id': 'MD...",https://github.com/hadley/15-state-of-the-union,None,False,https://api.github.com/repos/hadley/15-state-o...,...,7,NaN,False,False,0,None,7,0,23,master
1,40544418,MDEwOlJlcG9zaXRvcnk0MDU0NDQxOA==,15-student-papers,hadley/15-student-papers,False,"{'login': 'hadley', 'id': 4196, 'node_id': 'MD...",https://github.com/hadley/15-student-papers,Graphics & computing student paper winners @ J...,False,https://api.github.com/repos/hadley/15-student...,...,0,NaN,False,False,0,None,0,0,14,master
2,14984909,MDEwOlJlcG9zaXRvcnkxNDk4NDkwOQ==,500lines,hadley/500lines,False,"{'login': 'hadley', 'id': 4196, 'node_id': 'MD...",https://github.com/hadley/500lines,500 Lines or Less,True,https://api.github.com/repos/hadley/500lines,...,1,NaN,False,False,0,"{'key': 'other', 'name': 'Other', 'spdx_id': '...",1,0,0,master
3,12241750,MDEwOlJlcG9zaXRvcnkxMjI0MTc1MA==,adv-r,hadley/adv-r,False,"{'login': 'hadley', 'id': 4196, 'node_id': 'MD...",https://github.com/hadley/adv-r,Advanced R: a book,False,https://api.github.com/repos/hadley/adv-r,...,1553,NaN,False,False,32,"{'key': 'other', 'name': 'Other', 'spdx_id': '...",1553,32,1710,master
4,265328713,MDEwOlJlcG9zaXRvcnkyNjUzMjg3MTM=,amt,hadley/amt,False,"{'login': 'hadley', 'id': 4196, 'node_id': 'MD...",https://github.com/hadley/amt,None,True,https://api.github.com/repos/hadley/amt,...,0,NaN,False,False,0,None,0,0,0,master

In [23]:
df.to_csv('./data/a.csv')

In [9]:
df = pd.read_csv('./data/abc.csv')
df.head()

   A    B  C
0  1  2.0  3
1  4  5.0  6
2  6  8.0  8
3  5  NaN  9

In [10]:
df = pd.read_csv('./data/abc.csv', encoding='cp1252')

In [11]:
df.head()

   A    B  C
0  1  2.0  3
1  4  5.0  6
2  6  8.0  8
3  5  NaN  9

In [13]:
df = pd.read_csv('./data/abc.csv',encoding='cp1252', usecols=['A','C'])
df.head()

   A  C
0  1  3
1  4  6
2  6  8
3  5  9

In [14]:
df = pd.read_csv('./data/abc.csv', encoding='utf-8', usecols=['A','C'])

In [15]:
df.head()

   A  C
0  1  3
1  4  6
2  6  8
3  5  9

In [16]:
df1 = pd.read_excel('./data/abc.xlsx')

In [17]:
df1.head()

   A    B  C
0  1  2.0  3
1  4  5.0  6
2  6  8.0  8
3  5  NaN  9

In [22]:
df1 = pd.read_excel('./data/abc.xlsx', sheet_name='Sheet1')

In [20]:
df1.head()

   A    B  C
0  1  2.0  3
1  4  5.0  6
2  6  8.0  8
3  5  NaN  9

In [24]:
df.to_excel('./data/ac.xlsx')

In [25]:
df.to_pickle('./data/cba.pkl')

# Series + DataFrame

In [30]:
df

[                        Company           Contact  Country
 0           Alfreds Futterkiste      Maria Anders  Germany
 1    Centro comercial Moctezuma   Francisco Chang   Mexico
 2                  Ernst Handel     Roland Mendel  Austria
 3                Island Trading     Helen Bennett       UK
 4  Laughing Bacchus Winecellars   Yoshi Tannamuri   Canada
 5  Magazzini Alimentari Riuniti  Giovanni Rovelli    Italy,
           Tag                                        Description
 0     <table>                                    Defines a table
 1        <th>                   Defines a header cell in a table
 2        <tr>                           Defines a row in a table
 3        <td>                          Defines a cell in a table
 4   <caption>                            Defines a table caption
 5  <colgroup>  Specifies a group of one or more columns in a ...
 6       <col>  Specifies column properties for each column wi...
 7     <thead>               Groups the header content in a table
 8     <tbody>                 Groups the body content in a table
 9     <tfoot>               Groups the footer content in a table]

In [33]:
type(df)

list

In [34]:
obj = pd.Series([1,2,3,4,5])

In [35]:
obj

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [36]:
obj.index

RangeIndex(start=0, stop=5, step=1)

In [37]:
obj.values

array([1, 2, 3, 4, 5], dtype=int64)

In [38]:
obj1 = pd.Series([1,2,3,4,5], index=['a','b','c','d','e'])

In [39]:
obj1

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [40]:
obj2 = pd.Series([3,4,2], index=['a','d','s'])

In [41]:
obj2

a    3
d    4
s    2
dtype: int64

In [42]:
print(obj1,obj2)

a    1
b    2
c    3
d    4
e    5
dtype: int64 a    3
d    4
s    2
dtype: int64

In [43]:
obj1+obj2

a    4.0
b    NaN
c    NaN
d    8.0
e    NaN
s    NaN
dtype: float64

In [44]:
obj1.index.name = 'CNIC'

In [45]:
obj1

CNIC
a    1
b    2
c    3
d    4
e    5
dtype: int64