In [1]:
import numpy as np
import pandas as pd

In [3]:
XYZ_web= {'Day':[1,2,3,4,5,6], "Visitors":[1000, 700,6000,1000,400,350], "Bounce_Rate":[20,20, 23,15,10,34]}
 
df= pd.DataFrame(XYZ_web)
 
print(df)

   Day  Visitors  Bounce_Rate
0    1      1000           20
1    2       700           20
2    3      6000           23
3    4      1000           15
4    5       400           10
5    6       350           34

In [4]:
print(df.head(2))

   Day  Visitors  Bounce_Rate
0    1      1000           20
1    2       700           20

In [5]:
print(df.tail(2))

   Day  Visitors  Bounce_Rate
4    5       400           10
5    6       350           34

# Merging & Joining

In [6]:
df1= pd.DataFrame({ "HPI":[80,90,70,60],"Int_Rate":[2,1,2,3],"IND_GDP":[50,45,45,67]}, index=[2001, 2002,2003,2004])
 
df2=pd.DataFrame({ "HPI":[80,90,70,60],"Int_Rate":[2,1,2,3],"IND_GDP":[50,45,45,67]}, index=[2005, 2006,2007,2008])

In [7]:
df1

      HPI  Int_Rate  IND_GDP
2001   80         2       50
2002   90         1       45
2003   70         2       45
2004   60         3       67

In [8]:
df2

      HPI  Int_Rate  IND_GDP
2005   80         2       50
2006   90         1       45
2007   70         2       45
2008   60         3       67

In [9]:
merged= pd.merge(df1,df2)
 
print(merged)

   HPI  Int_Rate  IND_GDP
0   80         2       50
1   90         1       45
2   70         2       45
3   60         3       67

In [10]:
merged = pd.merge(df1,df2,on='HPI')

In [11]:
print(merged)

   HPI  Int_Rate_x  IND_GDP_x  Int_Rate_y  IND_GDP_y
0   80           2         50           2         50
1   90           1         45           1         45
2   70           2         45           2         45
3   60           3         67           3         67

In [14]:
df1 = pd.DataFrame({"Int_Rate":[2,1,2,3], "IND_GDP":[50,45,45,67]}, index=[2001, 2002,2003,2004])
 
df2 = pd.DataFrame({"Low_Tier_HPI":[50,45,67,34],"Unemployment":[1,3,5,6]}, index=[2001, 2003,2004,2004])

In [16]:
joined = df1.join(df2)

In [17]:
print(joined)

      Int_Rate  IND_GDP  Low_Tier_HPI  Unemployment
2001         2       50          50.0           1.0
2002         1       45           NaN           NaN
2003         2       45          45.0           3.0
2004         3       67          67.0           5.0
2004         3       67          34.0           6.0

In [20]:
df1 = pd.DataFrame({"HPI":[80,90,70,60],"Int_Rate":[2,1,2,3], "IND_GDP":[50,45,45,67]}, index=[2001, 2002,2003,2004])
 
df2 = pd.DataFrame({"HPI":[80,90,70,60],"Int_Rate":[2,1,2,3],"IND_GDP":[50,45,45,67]}, index=[2005, 2006,2007,2008])

# Concatenation

In [21]:
concat = pd.concat([df1,df2])
print(concat)

      HPI  Int_Rate  IND_GDP
2001   80         2       50
2002   90         1       45
2003   70         2       45
2004   60         3       67
2005   80         2       50
2006   90         1       45
2007   70         2       45
2008   60         3       67

In [19]:
concat = pd.concat([df1,df2],axis=1)
print(concat)

ValueError: Shape of passed values is (7, 4), indices imply (5, 4)